<% if(hasErrors) { %>

<div class="alert alert-success">
    <% messages.forEach(function(message) { %>
    <%= message %>
    <% }) %>
</div>

<% } %>

<form action="/usuarios/<%= usuario.idUsuario %>?_method=PUT" method="POST" class="mb-4">

    <legend><%= usuario.correoElectronico %></legend>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-group">
        <label for="numeroCedula">Numero de cedula</label>
        <input required value="<%= usuario.numeroCedula %>" type="text" name="numeroCedula" id="numeroCedula"
            class="form-control">
    </div>

    <div class="form-group">
        <label for="nombreCompleto">Nombre completo</label>
        <input required value="<%= usuario.nombreCompleto %>" type="text" name="nombreCompleto" id="nombreCompleto"
            class="form-control">
    </div>

    <a href="/" class="btn btn-link">Cancelar</a>
    <button type="submit" class="btn btn-outline-primary">
        Guardar
    </button>
</form>